@use '../variables';
@use '../mixins';

.newModel {
    position: relative;
    overflow: hidden;
    padding-bottom: 42px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #FFFFFF 100%);
    min-height: 761px;



    @include mixins.responsive(variables.$large) {
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.820101) 14.06%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 55.32%, rgba(255, 255, 255, 0.6454) 88.52%, #FFFFFF 97.7%);
    }

    &__video {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        height: 330px;

        @include mixins.responsive(variables.$large) {
            height: 761px;
        }
    }

    &__title {
        font-family: variables.$font-abril-fatface;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.05em;

    }

    .newEbony {
        color: variables.$white;
        text-align: center;

        &__title {
            margin-top: 29px;
            font-family: variables.$font-abril-fatface;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.05em;

            @include mixins.responsive(variables.$large){
                margin-top: 0;
            }

        }

        &__reviews {
            margin-top: 17px;
            margin-bottom: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;

            p {
                margin-bottom: 0;
            }

            &-ranking {
                margin-left: 20px;
            }
        }

        &__price {
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.05em;
            margin-bottom: 14px;
        }


        &__description {
            font-family: variables.$font-raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.05em;
        }

        &__feature{
            justify-content: space-between;
            padding-inline-start: 0;
            max-width: 228px;
            margin: 0 auto;
            margin-bottom: 34px;
            &-item{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.05em;
                &:first-child{
                    list-style: none;
                }
            }
        }

        &__btn-add {
            width: 228px;
            height: 32px;
        }
    }
}