@use '../variables';
@use '../mixins';
.pianoType {
    padding-bottom: 56px;

    &__title {
        margin-top: 32px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.05em;
        text-align: center;
        margin-bottom: 32px;

        @include mixins.responsive(variables.$large){
            margin-top: 81px;
            margin-bottom: 172px;
        }
    }

    .piano {
        width: 250px;
        padding: 20px 11px 16px 11px;
        background: #FFFFFF;
        /* shadow-cards */
        box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        margin-bottom: 24px;

        @include mixins.responsive(variables.$large){
            position: relative;
                height: 239px;
        }

        &__image {
            width: 205px;
            height: 166px;

            @include mixins.responsive(variables.$large){
                position: absolute;
                top: -50%;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__body {
            margin-top: 22px;
            border-top: 1px dashed #DBDBDB;
            padding-top: 16px;

            @include mixins.responsive(variables.$large){
                margin-top: 77px;
            }

            &-name {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.05em;
            }

            &-feature {
                margin-top: 16px;
                margin-bottom: 16px;
                justify-content: space-between;
                padding-inline-start: 0;
                max-width: 226px;

                &--item {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.05em;

                    &:first-child {
                        list-style: none;
                    }
                }
            }

            &-price {



                .outlined {
                    width: 161px;
                    height: 36px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    letter-spacing: 0.05em;
                }

                .contained {
                    width: 35px;
                    height: 35px;
                    filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.3));

                    img {
                        width: 100%;
                    }
                }
            }
        }


    }

    &__seeMore {
        margin-top: 10px;
        width: 129px;
        height: 32px;

        @include mixins.responsive(variables.$large){
            margin-top: 60px;
        }
    }
}